.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

#customTemplateDiv {
  padding-top: 40px;
}

#customTemplateDiv div {
  padding: 15px 0; 
}



button {
  margin: 5px;
  padding: 5px;
}

.btnImportant {
  font-size: 1em;
  display: block;
  margin: 20px auto;
}



